<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 65.86 64.45">
    <defs>
    <style>
                                                                                                                       .DLClass-1 {
                                                                                                                           fill: #292656 !important;
                                                                                                                       }

        .DLClass-2 {
            fill: #ade8f0 !important;
        }

        .DLClass-3 {
            fill: #08e092 !important;
        }

        .DLClass-4 {
            fill: url(#linear-gradient) !important;
        }

        .DLClass-5 {
            fill: #fc6930 !important;
        }

        .DLClass-6 {
            fill: #963d7b !important;
        }

        .DLClass-7 {
            
            fill: url(#linear-gradient-22) !important;
        }

        .DLClass-8 {
            fill: #41c3ff !important;
        }

        .DLClass-9 {
            fill: #2f90b2 !important;
        }

        .DLClass-10 {
            fill: #fff5f5 !important;
        }
</style>
    <linearGradient id="linear-gradient" y1="26.89" x2="21.87" y2="26.89" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#f97735" /><stop offset="0.81" stop-color="#ffbd4c" />
        </linearGradient><linearGradient id="linear-gradient-22" x1="35.25" y1="37.5" x2="55.45" y2="37.5" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#292656" /><stop offset="0.77" stop-color="#963d7b" /></linearGradient></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="DLClass-1" d="M64.45,32.93A31.52,31.52,0,1,1,32.93,1.42,31.52,31.52,0,0,1,64.45,32.93Z" /><path class="DLClass-2" d="M28.86,51.46a1.29,1.29,0,1,1-1.29-1.29A1.28,1.28,0,0,1,28.86,51.46Zm-1.29-5.15a1.29,1.29,0,1,0,1.29,1.29A1.28,1.28,0,0,0,27.57,46.31Zm0-3.86a1.29,1.29,0,1,0,1.29,1.29A1.28,1.28,0,0,0,27.57,42.45ZM39.88,32.16a1.29,1.29,0,1,0,0,2.57,1.29,1.29,0,0,0,0-2.57Zm0-3.86a1.29,1.29,0,1,0,0,2.57,1.29,1.29,0,0,0,0-2.57Zm0-3.86a1.29,1.29,0,1,0,0,2.57,1.29,1.29,0,0,0,0-2.57Z" /><path class="DLClass-3" d="M41,38.35c.73,2.27-.54,5.73-2.6,7.8a5,5,0,0,1-4,1.69V64.42c-.47,0-.94,0-1.42,0-.82,0-1.64,0-2.44-.09V33.11a4.91,4.91,0,0,1-4.24-1.66c-2.07-2.07-3.33-5.53-2.6-7.8,2-.63,4.77.21,6.84,1.77V19.3h3.86V40C36.39,38.5,39.08,37.75,41,38.35ZM48.86,56a5.16,5.16,0,0,0-3.71,1.3V53.2a7.72,7.72,0,0,1,2.57-5.75l9-8.06-2.57-2.88L44.72,45a10.29,10.29,0,0,0-3.43,7.67V63.33A31.07,31.07,0,0,0,45.13,62a5.1,5.1,0,0,0,3.73,1.33c2.93,0,6.26-1.56,7.35-3.68C55.12,57.52,51.79,56,48.86,56ZM9.13,29.1l10.72,9.59a2.56,2.56,0,0,1,.86,1.92v7.87C18.66,47,15.91,46.19,14,46.81c-.73,2.27.54,5.73,2.6,7.8a5,5,0,0,0,4.11,1.68V62a32,32,0,0,0,3.86,1.34V40a5.13,5.13,0,0,0-1.71-3.83l-11.15-10Z" /><path class="DLClass-4" d="M21.87,26.89A10.94,10.94,0,1,1,10.93,16,10.94,10.94,0,0,1,21.87,26.89Z" /><path class="DLClass-5" d="M20.2,32.7A10.94,10.94,0,1,1,5.12,17.62,10.94,10.94,0,0,0,20.2,32.7Z" /><path class="DLClass-6" d="M65.86,36.66A10.94,10.94,0,1,1,54.93,25.73,10.93,10.93,0,0,1,65.86,36.66Z" /><path class="DLClass-7" d="M64.19,42.47A10.93,10.93,0,1,1,49.12,27.4,10.93,10.93,0,0,0,64.19,42.47Z" /><path class="DLClass-8" d="M43.87,10.93A10.94,10.94,0,1,1,32.93,0,10.94,10.94,0,0,1,43.87,10.93Z" /><path class="DLClass-9" d="M42.2,16.74A10.94,10.94,0,1,1,27.12,1.67,10.93,10.93,0,0,0,42.2,16.74Z" /><path class="DLClass-10" d="M38.44,10.61l-7.77,4.25a.65.65,0,0,1-1-.57V5.79a.64.64,0,0,1,1-.56l7.77,4.25A.64.64,0,0,1,38.44,10.61ZM52.83,38.47V34.86a1.46,1.46,0,0,0-1.46-1.46H51a1.46,1.46,0,0,0-1.46,1.46v3.61A1.45,1.45,0,0,0,51,39.92h.39A1.46,1.46,0,0,0,52.83,38.47Zm7.1-7.64c-.21,0-.44,0-.66,0h-.06a4.83,4.83,0,0,0-4.77,4.84v2a4.82,4.82,0,0,0,4.77,4.84h.06c.22,0,.45,0,.66,0a.42.42,0,0,0,.41-.4V31.24A.43.43,0,0,0,59.93,30.83ZM15,20.58H6.87a1.52,1.52,0,0,0,0,3H15a1.52,1.52,0,0,0,0-3Zm0,4.83H6.87a1.51,1.51,0,0,0,0,3H15a1.51,1.51,0,1,0,0-3Zm-3.17,5.07H10a1.51,1.51,0,1,0,0,3h1.8a1.51,1.51,0,1,0,0-3Z" /></g></g></svg>