<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.03 65.86"><defs><style>
                                                                            .MessageClass-1 {
                                                                                fill: #292656;
                                                                            }

                                                                            .MessageClass-2 {
                                                                                fill: #e5e3e5;
                                                                            }

                                                                            .MessageClass-3 {
                                                                                fill: #ccf;
                                                                            }

                                                                            .MessageClass-4 {
                                                                                fill: #f3f3ff;
                                                                            }

                                                                            .MessageClass-5 {
                                                                                fill: #ffbd6e;
                                                                            }

                                                                            .MessageClass-6 {
                                                                                fill: #f97735;
                                                                            }
</style></defs><title>Asset 8</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="MessageClass-1" d="M5.75,51.74A.71.71,0,0,1,5,51.41,31.52,31.52,0,1,1,63,34a31.31,31.31,0,0,1-5,17.39.73.73,0,0,1-.74.33A181.63,181.63,0,0,0,31.52,50,181.67,181.67,0,0,0,5.75,51.74Z" /><path class="MessageClass-2" d="M58,51.41a31.52,31.52,0,0,1-53,0V29.72L31.52,50.3,58,29.72Z" /><path class="MessageClass-3" d="M54.3,56.12a31.52,31.52,0,0,1-45.57,0L30,41.06a2.57,2.57,0,0,1,3,0Z" /><path class="MessageClass-4" d="M34.46,51.58H28.83a5.16,5.16,0,0,1-3.67-1.53L5,29.72H58L38.13,50.05A5.16,5.16,0,0,1,34.46,51.58Z" /><path class="MessageClass-5" d="M60,23.16H3.09a1.93,1.93,0,0,1-1.93-1.93V1.93A1.92,1.92,0,0,1,3.09,0H60a1.93,1.93,0,0,1,1.93,1.93v19.3A1.94,1.94,0,0,1,60,23.16Z" /><path class="MessageClass-6" d="M61.88,1.93v19.3A1.94,1.94,0,0,1,60,23.16H37.73a2.58,2.58,0,0,0-1.82.75l-3.48,3.48a1.29,1.29,0,0,1-1.82,0l-3.49-3.48a2.56,2.56,0,0,0-1.81-.75H7A1.93,1.93,0,0,1,5,21.23V1.93A1.92,1.92,0,0,1,7,0H60A1.93,1.93,0,0,1,61.88,1.93Z" /><path class="MessageClass-4" d="M20.45,7.45a1.63,1.63,0,0,1-1.63,1.63H10.06a1.63,1.63,0,0,1,0-3.26h8.76A1.63,1.63,0,0,1,20.45,7.45ZM18.82,11H10.06a1.63,1.63,0,0,0,0,3.26h8.76a1.63,1.63,0,0,0,0-3.26Zm-3.41,5.47H13.47a1.63,1.63,0,0,0,0,3.26h1.94a1.63,1.63,0,1,0,0-3.26Zm22-5.47L28.55,6.18a.73.73,0,0,0-1.08.64v9.65a.73.73,0,0,0,1.08.64l8.83-4.82A.73.73,0,0,0,37.38,11Zm8.18-3.15h0a1.93,1.93,0,0,0-1.93,1.93V13.6a1.93,1.93,0,0,0,1.93,1.93h0a1.93,1.93,0,0,0,1.93-1.93V9.79A1.93,1.93,0,0,0,45.56,7.86Zm10.29-3a6.79,6.79,0,0,0-.78,0H55a5.68,5.68,0,0,0-5.61,5.69v2.39A5.67,5.67,0,0,0,55,18.58h.07q.39,0,.78,0a.5.5,0,0,0,.47-.48V5.32A.49.49,0,0,0,55.85,4.85Z" /></g></g></svg>
