<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64.7 63.28"><defs><style>
                                                                                                                      .SynchronousClass-1 {
                                                                                                                          fill: #292656;
                                                                                                                      }

                                                                                                                      .SynchronousClass-2 {
                                                                                                                          fill: #fff5f5;
                                                                                                                      }

                                                                                                                      .SynchronousClass-3 {
                                                                                                                          fill: #ffbd6e;
                                                                                                                      }

                                                                                                                      .SynchronousClass-4 {
                                                                                                                          fill: #f97735;
                                                                                                                      }

                                                                                                                      .SynchronousClass-5 {
                                                                                                                          fill: #f3f3ff;
                                                                                                                      }

                                                                                                                      .SynchronousClass-6 {
                                                                                                                          fill: url(#linear-gradient);
                                                                                                                      }

                                                                                                                      .SynchronousClass-7 {
                                                                                                                          fill: #963d7b;
                                                                                                                      }

                                                                                                                      .SynchronousClass-8 {
                                                                                                                          fill: #e5e3e5;
                                                                                                                      }

                                                                                                                      .SynchronousClass-9 {
                                                                                                                          fill: #08e092;
                                                                                                                      }

                                                                                                                      .SynchronousClass-10 {
                                                                                                                          fill: #d3f1f5;
                                                                                                                      }
</style><linearGradient id="linear-gradient" x1="-6.87" y1="41.2" x2="28.26" y2="41.2" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#292656" /><stop offset="0.77" stop-color="#963d7b" /></linearGradient></defs><title>Asset 7</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="SynchronousClass-1" d="M63.28,31.64A31.64,31.64,0,1,1,31.64,0,31.65,31.65,0,0,1,63.28,31.64Z" /><path class="SynchronousClass-2" d="M45.07,43.78a1.29,1.29,0,1,1-1.29-1.29A1.29,1.29,0,0,1,45.07,43.78Zm2.58-1.29a1.29,1.29,0,1,0,1.29,1.29A1.29,1.29,0,0,0,47.65,42.49Zm3.88,0a1.29,1.29,0,1,0,1.29,1.29A1.29,1.29,0,0,0,51.53,42.49ZM16.33,21.62,8.69,17.45a.63.63,0,0,0-.93.55v8.36a.63.63,0,0,0,.93.55l7.64-4.18A.63.63,0,0,0,16.33,21.62Z" /><path class="SynchronousClass-3" d="M62.76,33.45H22.47a1.94,1.94,0,0,1-1.94-1.94V5.68a1.93,1.93,0,0,1,1.94-1.93H62.76A1.93,1.93,0,0,1,64.7,5.68V31.51A1.94,1.94,0,0,1,62.76,33.45Z" /><path class="SynchronousClass-4" d="M64.7,5.68V31.51a1.94,1.94,0,0,1-1.94,1.94H54.15l-7.5,5.66a1.29,1.29,0,0,1-2.07-1V33.45h-18a1.94,1.94,0,0,1-1.94-1.94V5.68a1.93,1.93,0,0,1,1.94-1.93H62.76A1.93,1.93,0,0,1,64.7,5.68Z" /><path class="SynchronousClass-5" d="M50.75,14.72V13.43a.65.65,0,0,1,.65-.65h8.52a.65.65,0,0,1,.65.65v1.29a.65.65,0,0,1-.65.65H51.4A.65.65,0,0,1,50.75,14.72ZM61.08,18H51.4a.65.65,0,0,0-.65.65v1.29a.65.65,0,0,0,.65.64h9.68a.65.65,0,0,0,.65-.64V18.6A.65.65,0,0,0,61.08,18Zm-1.8,5.17H51.4a.65.65,0,0,0-.65.64v1.29a.65.65,0,0,0,.65.65h7.88a.65.65,0,0,0,.64-.65V23.76A.64.64,0,0,0,59.28,23.12Z" /><path class="SynchronousClass-5" d="M33.19,17.5,23.7,13.38a.65.65,0,0,1,0-1.19l9.49-4.12a2.55,2.55,0,0,1,2.06,0l9.49,4.12a.65.65,0,0,1,0,1.19L35.25,17.5A2.55,2.55,0,0,1,33.19,17.5Zm7.25.5-4.76,1.94a3.88,3.88,0,0,1-2.92,0L28,18a.65.65,0,0,0-.89.6v7.74a.65.65,0,0,0,.65.65H40.68a.64.64,0,0,0,.64-.65V18.6A.64.64,0,0,0,40.44,18Zm4.63,4V16.36a.64.64,0,0,0-.86-.6.65.65,0,0,0-.41.59V22a3.51,3.51,0,0,0-1.3,3h3.87A3.56,3.56,0,0,0,45.07,22Z" /><path class="SynchronousClass-6" d="M38.87,50.88V31.51a1.94,1.94,0,0,0-1.94-1.94H5.68a1.93,1.93,0,0,0-1.93,1.94V50.88a1.93,1.93,0,0,0,1.93,1.94H36.93A1.94,1.94,0,0,0,38.87,50.88Z" /><path class="SynchronousClass-7" d="M38.87,31.51V50.88a1.94,1.94,0,0,1-1.94,1.94H30.86v4.64a1.29,1.29,0,0,1-2.07,1L21.3,52.82H9.56a1.94,1.94,0,0,1-1.94-1.94V31.51a1.94,1.94,0,0,1,1.94-1.94H36.93A1.94,1.94,0,0,1,38.87,31.51Z" /><path class="SynchronousClass-8" d="M31.64,40.55v1.29a.65.65,0,0,1-.65.65H13.43a.65.65,0,0,1-.65-.65V40.55a.65.65,0,0,1,.65-.65H31A.65.65,0,0,1,31.64,40.55Zm-8.39,4.52H13.43a.65.65,0,0,0-.65.65V47a.65.65,0,0,0,.65.64h9.82a.64.64,0,0,0,.64-.64V45.72A.65.65,0,0,0,23.25,45.07Z" /><path class="SynchronousClass-9" d="M31.64,35.38v1.3a.65.65,0,0,1-.65.64H13.43a.65.65,0,0,1-.65-.64v-1.3a.65.65,0,0,1,.65-.64H31A.65.65,0,0,1,31.64,35.38ZM25.05,39.9H13.43a.65.65,0,0,0-.65.65v1.29a.65.65,0,0,0,.65.65H25.05a.65.65,0,0,0,.65-.65V40.55A.65.65,0,0,0,25.05,39.9Z" /><path class="SynchronousClass-10" d="M28.28,41.2a2.58,2.58,0,1,1-2.58-2.59A2.58,2.58,0,0,1,28.28,41.2Z" /></g></g></svg>
