<!--<style>
    .feature-image {
        height: auto;
        width: auto;
        max-height: 500px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #searchContainer {
        position: relative;
        z-index: 10;
        padding-top: 40px;
    }

    .select2-search__field {
        background: transparent !important;
        border: 0 !important;
        padding: 19px 10px 19px 30px !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        margin: 0 !important;
        border-radius: 45px !important;
        border: 1px solid #efe7e7 !important;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out !important;
        transition: all 0.3s ease-in-out !important;
    }

    .select2-container--default .select2-selection--multiple {
        background: transparent !important;
        border: 0 !important;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        background: transparent !important;
        border: 0 !important;
    }

    .select2-dropdown {
        margin-top: 10px;
        background-color: #ffffff !important;
        border-radius: 45px !important;
    }

    .select2-results {
        padding: 20px !important;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #fdf1f1 !important;
    }
</style>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    recycleView
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <div class="m-portlet__nav">
                <div class="m-portlet__nav-item">
                    <a href="http://moodle.win.solutions:5000" target="_blank" class="m-portlet__nav-link btn m-btn--pill btn-outline-success m-btn m-btn--outline-2x w-100">

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet__body" style="padding:10px;">
        <div id="appendCandidates" class="row">
            <div class="col-3"></div>
            <div id="content_" class="col-6 contents">
                <article class="post-post-grid" id="lazyScrollLoading_ImageMode">
                    <div class="">
                        <a href="">
                            <img class="feature-image" src="@Url.Content("~/Content/testImage.png")" loading="lazy" alt="" style="width:inherit">
                        </a>
                    </div>
                    <div class="blog-content">
                        <ul class="post-meta">
                            <li><a href="#">ul ul ul</a></li>
                        </ul>

                        <h3 class="entry-title"><a href="" target="_blank"></a> h3 h3</h3>

                        <div class="author">
                            <img src="" alt="author">
                            <a href="#" class="author-link"> </a>
                        </div>

                    </div><!-- /.post-content -->
<!--</article>--><!-- /.post -->
<!--</div>
<div class="col-3"></div>-->
<!-- /.col-lg-4 -->-->
<!--@*<div class="col-12" id="loader_0"></div>*@

        <!--</div>
    </div>
</div>-->
@*<span class="dropdown">
        <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="false">
            <i class="la la-ellipsis-h"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-32px, 27px, 0px);">
            <a class="dropdown-item" href="" onclick=""><i class="fas fa-eye"></i>item1</a>
            <a class="dropdown-item" href="" target="_blank"><i class="fas fa-plus"></i>item2</a>
        </div>
    </span>*@-->

<style>

    /*

    All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310).

    The 'supports' rule will only run if your browser supports CSS grid.

    Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

    */

    /* Base Styles */



    /* Profile Section */

    .profile {
        padding: 5rem 0;
    }

        .profile::after {
            content: "";
            display: block;
            clear: both;
        }



    .profile-image img {
        /*border-radius: 50%;*/
    }



    .profile-bio {
        display: flex;
        align-content: center;
        justify-content: left;
    }

    .profile-user-settings {
        display: flex;
        justify-content: space-between;
        margin-top: 1.1rem;
    }

    .profile-user-name {
        display: inline-block;
        font-size: 3.2rem;
        font-weight: 300;
    }

    .profile-edit-btn {
        font-size: 1.4rem;
        line-height: 1.8;
        border: 0.1rem solid #dbdbdb;
        border-radius: 0.3rem;
        padding: 0 2.4rem;
        margin-left: 2rem;
    }

    .profile-settings-btn {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .profile-stats {
        display: flex;
    }





    .profile-bio {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .profile-real-name,
    .profile-stat-count,
    .profile-edit-btn {
        font-weight: 600;
        display: flex;
        justify-content: space-between;
    }

    /* Gallery Section */

    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem -1rem;
        padding-bottom: 3rem;
    }

    .gallery-item {
        position: relative;
        flex: 1 0 22rem;
        margin: 1rem;
        color: #fff;
        cursor: pointer;
    }

        .gallery-item:hover .gallery-item-info,
        .gallery-item:focus .gallery-item-info {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

    .gallery-item-info {
        display: none;
    }

        .gallery-item-info li {
            display: inline-block;
            font-size: 1.7rem;
            font-weight: 600;
        }

    .gallery-item-likes {
        margin-right: 2.2rem;
    }

    .gallery-item-type {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2.5rem;
        text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    }

    .fa-clone,
    .fa-comment {
        transform: rotateY(180deg);
    }

    .gallery-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Loader */

    .loader {
        width: 5rem;
        height: 5rem;
        border: 0.6rem solid #999;
        border-bottom-color: transparent;
        border-radius: 50%;
        margin: 0 auto;
        animation: loader 500ms linear infinite;
    }
</style>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="profile-user-settings">
                        <h1 class="profile-user-name">janedoe_</h1>
                        <span class="dropdown" style="margin-top:45px">
                            <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="false">
                                <i class="la la-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px;">
                                <a id="save_btn" class="dropdown-item" href="#"style="cursor:pointer" ><i id="save_ic" class="far fa-bookmark"></i>Save</a>
                            </div>
                        </span>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="profile-image">
                        <img style="width:100%; height:300px" src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" alt="">
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="profile-stats">
                        <div style="padding-right:15px; cursor: pointer;"><i id="like_ic" class="far fa-heart" style="font-size:2.5rem;"></i> </div>
                        <div style="cursor: pointer;"><i class="fas fa-share" style="font-size:2.5rem;"></i> </div>

                    </div>
                    <div class="profile-bio">
                        <div><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</div>
                    </div>

                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <!--begin::Page Vendors -->
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        var saved = false;
        var liked = false;
        $(document).ready(function () {
            $('#save_btn').on('click', function () {
                if (saved) {
                    $('#save_ic').removeClass("fas fa-bookmark");
                    $('#save_ic').addClass("far fa-bookmark");
                    saved = false;
                } else {
                    $('#save_ic').removeClass("far fa-bookmark");
                    $('#save_ic').addClass("fas fa-bookmark");
                    saved = true;
                }
            });

            $('#like_ic').on('click', function () {
                if (liked == false) {
                    $('#like_ic').removeClass('far fa-heart');
                    $('#like_ic').addClass('fas fa-heart');
                    liked = true;
                } else {
                    $('#like_ic').removeClass('fas fa-heart');
                    $('#like_ic').addClass('far fa-heart');
                    liked = false;
                }
            });
        });

    </script>

}

<!--<header>

    <div class="container">

        <div class="profile">
            <div class="profile-user-settings">-->
@*<img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">*@

<!--<h1 class="profile-user-name">janedoe_</h1>

        <button class="btn profile-edit-btn">Edit Profile</button>

        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

    </div>
    <div class="profile-image">

        <img style="position: absolute; left: 50%; margin-left: -250px" src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" alt="">

    </div>



    <div class="profile-stats">

        <ul>
            <li><span class="profile-stat-count">164</span> posts</li>
            <li><span class="profile-stat-count">188</span> followers</li>
            <li><span class="profile-stat-count">206</span> following</li>
        </ul>

    </div>

    <div class="profile-bio">

        <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>

    </div>

</div>-->
<!-- End of profile section -->
<!--</div>-->
<!-- End of container -->
<!--</header>

<main>

    <div class="container">

        <div class="gallery">

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-type">

                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

                </div>

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-type">

                    <span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>

                </div>

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 38</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 0</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-type">

                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

                </div>

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 47</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 94</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 3</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1504214208698-ea1916a2195a?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-type">

                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

                </div>

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 52</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 4</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1515814472071-4d632dbc5d4a?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 66</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1511407397940-d57f68e81203?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-type">

                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

                </div>

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 45</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 0</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 34</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1505058707965-09a4469a87e4?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 41</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 0</li>
                    </ul>

                </div>

            </div>

            <div class="gallery-item" tabindex="0">

                <img src="https://images.unsplash.com/photo-1423012373122-fff0a5d28cc9?w=500&h=500&fit=crop" class="gallery-image" alt="">

                <div class="gallery-item-type">

                    <span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>

                </div>

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 30</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                    </ul>

                </div>

            </div>

        </div>-->
<!-- End of gallery -->
<!--<div class="loader"></div>

</div>-->
<!-- End of container -->
<!--</main>-->
