


@Styles.Render("~/assets/files/starsRating/starsRating.css")
<style>
    .lessonCard {
        overflow: hidden;
        background-color: #FFFFFF !important;
        height: auto !important;
        border-radius: 10px;
        -webkit-box-shadow: 0px 6px 14px 0px rgba(43, 35, 79, 0.1) !important;
        box-shadow: 0px 6px 14px 0px rgba(43, 35, 79, 0.1) !important;
        margin-bottom: 40px !important;
    }
    .lesson_chapter {
        font-family: Poppins;
        color: rgba(41,38,86,1);
    }
    .language_Class {
        background: rgba(41,38,86,1);
        border-radius: 50px;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .lan{
        color:white;
        text-align:center;
        padding-top:10px;
    }
    .extendedMenuIconClose {
        color: #292656;
        position:absolute;
        right:15px;
    }
    .lessonCard_body {
        display: block;
        position: relative;
        background-image: url('@Url.Content("~/assets/files/media/img/Rich_media@2x.png")');
        background-repeat: no-repeat;
        background-size: 100% 375px;
        width: 100%;
        height: 160px;
    }
    .play_icon {
        position: absolute;
        bottom: 10%;
        left: 5%;
    }
    .provider {
        position: absolute;
        bottom: 10%;
        right: 5%;
        border-radius:5px;
        padding:unset;
        width:100px;
    }
    .m-portlet {
        -webkit-box-shadow: unset;
        box-shadow: unset;
        background-color: unset;
        margin-top: unset;
         margin-bottom: unset;
         border-radius: unset;
    }
    .m-portlet .m-portlet__head {
            border-bottom: unset;
            padding: unset;
    }
    .m-dropdown .m-dropdown__wrapper{
        top:-223px !important;
    }
    .rating {
        position: absolute;
        top: 5%;
        left: 5%;
    }
    .rating {
        width: 180px;
    }

    .rating__star {
        cursor: pointer;
        color: #dabd18b2;
    }
    .checked {
        color: orange;
    }

</style>




<div class="row mt-60">
    <div class="col-lg-3 col-12">
        <div class="lessonCard">
            <div class="lessonCard_body">
                <div class="svg-star-rating jq-stars"></div>

                <div class="language_Class" style="text-align:center">
                    <div class="lan">
                        FR
                    </div>
                </div>
                <div class="play_icon">
                    <span class="Video_icon">
                        <i class="fas fa-play-circle fa-2x" style="color:white"></i>
                    </span>
                </div>
                <div class="provider">
                    <img class="Moodle" src="https://localhost:443/CleverOwl.WebApplication/assets/files/media/img/providers/Moodle.png" alt="Moodle">
                </div>
            </div>
            <div class="lessonCard_details" style="padding:30px">
                <div class="row mb-2">
                    <div class="col-10">
                        Math - Grade 1
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-10 lesson_chapter">
                        <span>
                            Chapter 28. Order of numbers up to 19
                        </span>
                    </div>
                </div>
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span style="color: #fd7e14">
                                    Go to lesson
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">

                                    <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m--font-primary"></i>

                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">

                                                        <li class="m-nav__item">
                                                            <a href="" target="_blank" class="m-nav__link">
                                                                <i class="m-nav__link-icon fas fa-map-marker-alt"></i>
                                                                <span class="m-nav__link-text">Add to pinboard</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:void(0);" data-session-id="" class="deleteSessionButton m-nav__link">
                                                                <i class="m-nav__link-icon fas fa-star"></i>
                                                                <span class="m-nav__link-text">Rate this lesson</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon fas fa-share"></i>
                                                                <span class="m-nav__link-text">Share with students</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" target="_blank" class="m-nav__link">
                                                                <i class="m-nav__link-icon fa fa-arrow-right"></i>
                                                                <span class="m-nav__link-text">Assign lesson</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/files/starsRating/starsRating.js")

    <script>
        $(document).ready(function () {
            initStarRating($(".svg-star-rating"), 0);

            //console.log(getRate($(".svg-star-rating")));
        });

        //starRating functions
        function initStarRating(selector, rateNumber) {
            setReadOnly = false;
            if (rateNumber > 0.0) {
                setReadOnly = true;
            }
            selector.starRating({
                totalStars: 5,
                starSize: 25,
                initialRating: rateNumber,
                readOnly: setReadOnly,
            });
            var rateSelectedBeforeClick = rateNumber;
            selector.click(function () {
                if (rateSelectedBeforeClick == 0) {
                    var newRateNum = getRate($(this));
                    setOnClickListener(newRateNum);
                    rateSelectedBeforeClick = newRateNum;
                }
            });
        }

        function setRate(selector, rateNumber) {
            selector.starRating('setRating', rateNumber);
        }

        function getRate(selector) {
            var rate = selector.starRating('getRating');
            return rate;
        }

        function setOnClickListener(rateNumber) {
             console.log(rateNumber);
        }

    </script>

}