<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=192.168.107.252;Database=RLI.Plus;User Id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;" providerName="System.Data.SqlClient" />
    <add name="RLIEntities" connectionString="metadata=res://*/EDM.RLI.csdl|res://*/EDM.RLI.ssdl|res://*/EDM.RLI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.107.252;initial catalog=RLI.Plus;persist security info=True;user id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenCurateEntities" connectionString="metadata=res://*/EDM.OpenCurateModel.csdl|res://*/EDM.OpenCurateModel.ssdl|res://*/EDM.OpenCurateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.160.64.210;initial catalog=Everest.OpenCurate.WebApplication;persist security info=True;user id=EverestOpenCuratorCuratorDBUser;password=KZ?Yg45rJrFa+@d&amp;;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="DefaultConnection" connectionString="Server=134.255.178.102;Database=RLI.Plus;User Id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;" providerName="System.Data.SqlClient" />
    <add name="RLIEntities" connectionString="metadata=res://*/EDM.RLI.csdl|res://*/EDM.RLI.ssdl|res://*/EDM.RLI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=134.255.178.102;initial catalog=RLI.Plus;persist security info=True;user id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenCurateEntities" connectionString="metadata=res://*/EDM.OpenCurateModel.csdl|res://*/EDM.OpenCurateModel.ssdl|res://*/EDM.OpenCurateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.160.64.210;initial catalog=Everest.OpenCurate.WebApplication;persist security info=True;user id=EverestOpenCuratorCuratorDBUser;password=KZ?Yg45rJrFa+@d&amp;;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="DefaultConnection" connectionString="Server=217.160.57.200;Database=CleverOwl;User Id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;" providerName="System.Data.SqlClient" />
	  <add name="RLIEntities" connectionString="metadata=res://*/EDM.RLI.csdl|res://*/EDM.RLI.ssdl|res://*/EDM.RLI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.160.57.200;initial catalog=CleverOwl;persist security info=True;user id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="OpenCurateEntities" connectionString="metadata=res://*/EDM.OpenCurateModel.csdl|res://*/EDM.OpenCurateModel.ssdl|res://*/EDM.OpenCurateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.160.57.200;initial catalog=Everest.OpenCurate.WebApplication;persist security info=True;user id=EverestOpenCuratorCuratorDBUser;password=KZ?Yg45rJrFa+@d&amp;;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Server=192.168.1.251;Database=CleverOwlLocal;User Id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;" providerName="System.Data.SqlClient" />
    <add name="RLIEntities" connectionString="metadata=res://*/EDM.RLI.csdl|res://*/EDM.RLI.ssdl|res://*/EDM.RLI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.251;initial catalog=CleverOwlLocal;persist security info=True;user id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenCurateEntities" connectionString="metadata=res://*/EDM.OpenCurateModel.csdl|res://*/EDM.OpenCurateModel.ssdl|res://*/EDM.OpenCurateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.137.1;initial catalog=Everest.OpenCurate.WebApplication;persist security info=True;user id=EverestOpenCuratorCuratorDBUser;password=KZ?Yg45rJrFa+@d&amp;;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Server=127.0.0.1;Database=RLI.Plus;User Id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;" providerName="System.Data.SqlClient" />
    <add name="RLIEntities" connectionString="metadata=res://*/EDM.RLI.csdl|res://*/EDM.RLI.ssdl|res://*/EDM.RLI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=RLI.Plus;persist security info=True;user id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenCurateEntities" connectionString="metadata=res://*/EDM.OpenCurateModel.csdl|res://*/EDM.OpenCurateModel.ssdl|res://*/EDM.OpenCurateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=Everest.OpenCurate.WebApplication;persist security info=True;user id=EverestOpenCuratorCuratorDBUser;password=KZ?Yg45rJrFa+@d&amp;;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Server=217.160.64.210;Database=CleverOwl;User Id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;" providerName="System.Data.SqlClient" />
    <add name="RLIEntities" connectionString="metadata=res://*/EDM.RLI.csdl|res://*/EDM.RLI.ssdl|res://*/EDM.RLI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.160.64.210;initial catalog=CleverOwl;persist security info=True;user id=RLIDBUser;password=KZ?Yg45rJrFa+@d&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenCurateEntities" connectionString="metadata=res://*/EDM.OpenCurateModel.csdl|res://*/EDM.OpenCurateModel.ssdl|res://*/EDM.OpenCurateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.160.64.210;initial catalog=Everest.OpenCurate.WebApplication;persist security info=True;user id=EverestOpenCuratorCuratorDBUser;password=KZ?Yg45rJrFa+@d&amp;;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="moodleEntities" connectionString="metadata=res://*/Managers.MoodleManagers.Database.MoodleDBManager.csdl|res://*/Managers.MoodleManagers.Database.MoodleDBManager.ssdl|res://*/Managers.MoodleManagers.Database.MoodleDBManager.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=DBUser;server=82.165.57.223;password=DBPass00!;persistsecurityinfo=True;port=3306;database=moodle&quot;" providerName="System.Data.EntityClient" />-->
    <add name="moodleEntities" connectionString="metadata=res://*/Managers.MoodleManagers.Database.MoodleDBManager.csdl|res://*/Managers.MoodleManagers.Database.MoodleDBManager.ssdl|res://*/Managers.MoodleManagers.Database.MoodleDBManager.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=moodleexternal;server=185.196.20.12;password=f0K5+K9T(cUs;persistsecurityinfo=True;port=3306;database=moodle&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--<add key="ApplicationName" value="Clever Owl"/>
    <add key="MoodleWebHookToken" value="eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTYyNjk1NzAyMywiaWF0IjoxNjI2OTU3MDIzfQ.zaHuAc7tNhd28aEb3xbK_Sr7M68xQtHT5MLZ5IA40o0"/>
    <add key="InsertTimelineUrl" value="https://cambridge.cleverowl.com/"/>
    <add key="MoodleAPIUrl" value="https://lms.cambridge.cleverowl.com/"/>
    <add key="ScormUrlPath" value="https://cambridge.cleverowl.com/Authoring.SCORMs"/>
    <add key="CROWDCONTENT_URL" value="https://cambridge.cleverowl.com/Authoring.SCORMs"/>
    <add key="IMAGES_URL" value="https://cambridge.cleverowl.com/Images"/>
    <add key="DOCUMENTS_URL" value="https://cambridge.cleverowl.com/Documents"/>
	  <add key="applicationresourcelibraryinstanceindicator" value="K12Topics" />
	  <add key="AdaptUrl" value="https://authoring.cambridge.cleverowl.com:5000/"/>
    <add key="BulkRegisterUrl" value="https://cambridge.cleverowl.com/SchoolsRegistration/"/>
    <add key="ApplicationInstanceIndicator" value="cleverOwl"/>
    <add key="EnforcePasswordPolicy" value="false"/>-->

    <!--On new instance added config-->

    <!--<add key="MoodleApiCategoryId" value="2"/>
    <add key="MoodleApiScormCategoryId" value="6"/>
    <add key="adaptMongoDBConnectionString" value="mongodb://AdaptDBUser:sH5KS99swH4F899@82.165.57.223:27017" />
    <add key="adaptMongoDBName" value="adapt-tenant-master"/>
    <add key="adaptMongoDBCourseCreatorRole" value="Course Creator"/>
    <add key="adaptMongoDBTenantMaster" value="Master"/>
    <add key="EverestOpencurateUrlLogin" value="https://cleverowl.com/Account/Login"/>
    <add key="MOODLE_CLEAR_COOKIE_URL_RETURN_LINK" value="https://lms.cambridge.cleverowl.com/cc.php?return_url="/>
    
     <add key="applicationname" value="clever owl" />
    <add key="moodlewebhooktoken" value="eyjhbgcioijiuzi1nij9.eyjsb2xlijoiqwrtaw4ilcjjc3n1zxiioijjc3n1zxiilcjvc2vybmftzsi6ikphdmfjblvzzsisimv4cci6mtyynjk1nzaymywiawf0ijoxnji2otu3mdizfq.zahuac7tnhd28aeb3xbk_sr7m68xqtht5mlz5ia40o0" />
    <add key="inserttimelineurl" value="https://127.0.0.1/rli.webapplication/" />
    <add key="moodleapiurl" value="https://lms.globaleducation.institute/" />
    <add key="adapturl" value="https://authoring.cleverowl.com:5000/" />
    <add key="scormurlpath" value="https://cambridge.cleverowl.com/authoring.scorms" />
    <add key="crowdcontent_url" value="https://cambridge.cleverowl.com/authoring.scorms" />
    <add key="images_url" value="https://cambridge.cleverowl.com/authoring.scorms" />
    <add key="documents_url" value="https://cambridge.cleverowl.com/authoring.scorms" />
    <add key="bulkregisterurl" value="https://globaleducation.institute/schoolsregistration/" />
    <add key="enforcepasswordpolicy" value="false" />
    <add key="applicationinstanceindicator" value="demo-cleverowl" />
    <add key="applicationdefaultcolor" value="#c00000" />
    <add key="applicationresourcelibraryinstanceindicator" value="k12topics" />
    <add key="warndiskspace" value="true" />
    <add key="moodlereposecretkey" value="zam7ueununvm3qtrslkpv4g6" />
    <add key="moodleapicategoryid" value="2" />
    <add key="moodleapiscormcategoryid" value="3" />
    <add key="adaptmongodbconnectionstring" value="mongodb://adaptdbuser:sh5ks99swh4f899@82.165.57.223:27017" />
    <add key="adaptmongodbname" value="adapt-tenant-master" />
    <add key="adaptmongodbcoursecreatorrole" value="course creator" />
    <add key="adaptmongodbtenantmaster" value="master" />
    <add key="everestopencurateurllogin" value="https://cleverowl.com/account/login" />
    <add key="moodleclearcookieurlreturnlink" value="https://lms.cambridge.cleverowl.com/cc.php?return_url=" />-->

    <!--<add key="applicationname" value="Clever Owl" />
    <add key="moodlewebhooktoken" value="eyjhbgcioijiuzi1nij9.eyjsb2xlijoiqwrtaw4ilcjjc3n1zxiioijjc3n1zxiilcjvc2vybmftzsi6ikphdmfjblvzzsisimv4cci6mtyynjk1nzaymywiawf0ijoxnji2otu3mdizfq.zahuac7tnhd28aeb3xbk_sr7m68xqtht5mlz5ia40o0" />
    <add key="inserttimelineurl" value="https://127.0.0.1/rli.webapplication/" />
    <add key="moodleapiurl" value="https://lms.globaleducation.institute/" />
    <add key="adapturl" value="https://authoring.cleverowl.com:5000/" />
    <add key="scormurlpath" value="https://cambridge.cleverowl.com/authoring.scorms" />
    <add key="crowdcontent_url" value="https://cambridge.cleverowl.com/authoring.scorms" />
    <add key="images_url" value="https://cambridge.cleverowl.com/authoring.scorms" />
    <add key="documents_url" value="https://cambridge.cleverowl.com/authoring.scorms" />
    <add key="bulkregisterurl" value="https://globaleducation.institute/schoolsregistration/" />
    <add key="enforcepasswordpolicy" value="false" />
    <add key="applicationinstanceindicator" value="cleverOwl" />
    <add key="applicationdefaultcolor" value="#c00000" />
    <add key="applicationresourcelibraryinstanceindicator" value="K12Topics" />
    <add key="warndiskspace" value="true" />
    <add key="moodlereposecretkey" value="zam7ueununvm3qtrslkpv4g6" />
    <add key="moodleapicategoryid" value="2" />
    <add key="moodleapiscormcategoryid" value="3" />
    <add key="adaptmongodbconnectionstring" value="mongodb://adaptdbuser:sh5ks99swh4f899@82.165.57.223:27017" />
    <add key="adaptmongodbname" value="adapt-tenant-master" />
    <add key="adaptmongodbcoursecreatorrole" value="course creator" />
    <add key="adaptmongodbtenantmaster" value="master" />
    <add key="everestopencurateurllogin" value="https://cleverowl.com/account/login" />
    <add key="moodleclearcookieurlreturnlink" value="https://lms.cambridge.cleverowl.com/cc.php?return_url=" />-->

    <add key="ApplicationName" value="Clever Owl" />
    <add key="MoodleWebHookToken" value="eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTYyNjk1NzAyMywiaWF0IjoxNjI2OTU3MDIzfQ.zaHuAc7tNhd28aEb3xbK_Sr7M68xQtHT5MLZ5IA40o0" />
    <add key="InsertTimelineUrl" value="https://globaleducation.institute/" />
    <add key="MoodleAPIUrl" value="https://lms.globaleducation.institute/" />
    <add key="AdaptUrl" value="https://authoringglobaleducation.institute:5000/" />
    <add key="ScormUrlPath" value="https://globaleducation.institute/Authoring.SCORMs" />
    <add key="CROWDCONTENT_URL" value="https://globaleducation.institute/Authoring.SCORMs" />
    <add key="IMAGES_URL" value="https://globaleducation.institute/Images" />
    <add key="DOCUMENTS_URL" value="https://globaleducation.institute/Documents" />
    <add key="BulkRegisterUrl" value="https://globaleducation.institute/SchoolsRegistration/" />
    <add key="EnforcePasswordPolicy" value="false" />
    <add key="ThemeColor" value="#018551" />
    <add key="ApplicationInstanceIndicator" value="demo-cleverOwl" />
    <add key="applicationdefaultcolor" value="#018551" />
    <add key="ApplicationResourceLibraryInstanceIndicator" value="demo-cleverOwl" />
    <add key="WarnDiskSpace" value="true" />
    <add key="MoodleRepoSecretkey" value="zaM7ueUNunvM3qtRsLkPv4g6" />
    <add key="MoodleApiCategoryId" value="2" />
    <add key="MoodleApiScormCategoryId" value="4" />
    <add key="adaptMongoDBConnectionString" value="mongodb://AdaptDBUser:sH5KS99swH4F899@212.227.214.212:27017" />
    <add key="adaptMongoDBName" value="adapt-tenant-master" />
    <add key="adaptMongoDBCourseCreatorRole" value="Course Creator" />
    <add key="adaptMongoDBTenantMaster" value="Master" />
    <add key="EverestOpencurateUrlLogin" value="https://cleverowl.com/Account/Login" />
    <add key="moodleClearCookieUrlReturnLink" value="https://lms.globaleducation.institute/cc.php?return_url=" />
    <!--<add key="ApplicationName" value="Clever Owl" />
    <add key="MoodleWebHookToken" value="eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTYyNjk1NzAyMywiaWF0IjoxNjI2OTU3MDIzfQ.zaHuAc7tNhd28aEb3xbK_Sr7M68xQtHT5MLZ5IA40o0" />
    <add key="InsertTimelineUrl" value="https://127.0.0.1/RLI.WebApplication/" />
    <add key="MoodleAPIUrl" value="https://lms.globaleducation.institute/" />
    <add key="AdaptUrl" value="https://authoring.cleverowl.com:5000/" />
    <add key="ScormUrlPath" value="https://cambridge.cleverowl.com/Authoring.SCORMs" />
    <add key="CROWDCONTENT_URL" value="https://cambridge.cleverowl.com/Authoring.SCORMs" />
    <add key="IMAGES_URL" value="https://cambridge.cleverowl.com/Authoring.SCORMs" />
    <add key="DOCUMENTS_URL" value="https://cambridge.cleverowl.com/Authoring.SCORMs" />
    <add key="BulkRegisterUrl" value="https://globaleducation.institute/SchoolsRegistration/" />
    <add key="EnforcePasswordPolicy" value="false" />
    <add key="ApplicationInstanceIndicator" value="demo-cleverOwl" />
     <add key="ApplicationDefaultColor" value="#c00000" />
    <add key="WarnDiskSpace" value="true" />
    <add key="MoodleRepoSecretkey" value="zaM7ueUNunvM3qtRsLkPv4g6" />

    <add key="MoodleApiCategoryId" value="2" />
    <add key="MoodleApiScormCategoryId" value="3" />
    <add key="adaptMongoDBConnectionString" value="mongodb://AdaptDBUser:sH5KS99swH4F899@82.165.57.223:27017" />
    <add key="adaptMongoDBName" value="adapt-tenant-master" />
    <add key="adaptMongoDBCourseCreatorRole" value="Course Creator" />
    <add key="adaptMongoDBTenantMaster" value="Master" />
    <add key="EverestOpencurateUrlLogin" value="https://cleverowl.com/Account/Login" />
    <add key="moodleClearCookieUrlReturnLink" value="https://lms.cambridge.cleverowl.com/cc.php?return_url=" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" executionTimeout="108000" maxRequestLength="1073741824" />
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.MicrosoftAccount" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Calendar.v3" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.54.0.2410" newVersion="1.54.0.2410" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Admin.Directory.directory_v1" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.54.0.2423" newVersion="1.54.0.2423" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.14.0.0" newVersion="3.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.20.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>