<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64.42 65.86">
    <defs>
        <style>
            .assignmentClass-1 {
                fill: #292656 !important;
            }

            .assignmentClass-2 {
                fill: #F3F3FF !important;
            }

            .assignmentClass-3 {
                fill: #FC6930 !important;
            }

            .assignmentClass-4 {
                fill: #F97735 !important;
            }

            .assignmentClass-5 {
                fill: #297F96 !important;
            }

            .assignmentClass-6 {
                fill: #61C1C6 !important;
            }

            .assignmentClass-7 {
                fill: #2F90B2 !important;
            }

            .assignmentClass-8 {
                fill: #7BF3FF !important;
            }

            .assignmentClass-9 {
                fill: #41C3FF !important;
            }

            .assignmentClass-10 {
                fill: url(#linear-gradient) !important;
            }

            .assignmentClass-11 {
                fill: url(#linear-gradient-2) !important;
            }
        </style>
        <linearGradient id="linear-gradient" x1="19.59" y1="34.18" x2="44.57" y2="34.18" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#F97735" /><stop offset="0.81" stop-color="#FFBD4C" /></linearGradient>
        <linearGradient id="linear-gradient-2" x1="19.59" y1="26.29" x2="44.57" y2="26.29" xlink:href="#linear-gradient" />
    </defs>
    <title>Asset 5</title>
    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="assignmentClass-1" d="M10.07,55.7a3,3,0,0,1-2.27-1A32.21,32.21,0,0,1,32.15,1.45,32.22,32.22,0,0,1,62,46,15.72,15.72,0,0,1,47.43,55.7Z" /><path class="assignmentClass-2" d="M56.66,11.83V54.62a32.21,32.21,0,0,1-48.9,0V11.83A3.93,3.93,0,0,1,11.7,7.89h41A3.93,3.93,0,0,1,56.66,11.83Z" /><path class="assignmentClass-3" d="M15.93,2V12.49a2,2,0,0,1-3.94,0V2a2,2,0,1,1,3.94,0Zm7.15-2a2,2,0,0,0-2,2V12.49a2,2,0,0,0,3.94,0V2A2,2,0,0,0,23.08,0Zm9.13,0a2,2,0,0,0-2,2V12.49a2,2,0,1,0,3.94,0V2A2,2,0,0,0,32.21,0Zm9.12,0a2,2,0,0,0-2,2V12.49a2,2,0,0,0,4,0V2A2,2,0,0,0,41.33,0Zm9.13,0a2,2,0,0,0-2,2V12.49a2,2,0,1,0,3.94,0V2A2,2,0,0,0,50.46,0Z" /><path class="assignmentClass-4" d="M15.93,2V7.23a2,2,0,1,1-3.94,0V2a2,2,0,1,1,3.94,0Zm7.15-2a2,2,0,0,0-2,2V7.23a2,2,0,0,0,3.94,0V2A2,2,0,0,0,23.08,0Zm9.13,0a2,2,0,0,0-2,2V7.23a2,2,0,1,0,3.94,0V2A2,2,0,0,0,32.21,0Zm9.12,0a2,2,0,0,0-2,2V7.23a2,2,0,0,0,4,0V2A2,2,0,0,0,41.33,0Zm9.13,0a2,2,0,0,0-2,2V7.23a2,2,0,0,0,3.94,0V2A2,2,0,0,0,50.46,0Z" /><path class="assignmentClass-5" d="M57.78,53.24a32.21,32.21,0,0,1-7.73,7.23H37.36V53.24Z" /><path class="assignmentClass-6" d="M56.14,55.22H37.36V46H62A32.46,32.46,0,0,1,56.14,55.22Z" /><path class="assignmentClass-7" d="M16,57.84v-9.2A2.63,2.63,0,0,1,18.65,46h21V60.47h-21A2.63,2.63,0,0,1,16,57.84Z" /><path class="assignmentClass-8" d="M16,52.59v-4A2.63,2.63,0,0,1,18.65,46h21v9.21h-21A2.63,2.63,0,0,1,16,52.59Z" /><path class="assignmentClass-9" d="M46.92,51.27H23.25a2,2,0,0,1-2-2V46.67a2,2,0,0,1,2-2H46.92a2,2,0,0,1,2,2V49.3A2,2,0,0,1,46.92,51.27Z" /><path class="assignmentClass-10" d="M36.68,36.81v2.63a.67.67,0,0,1-.66.66H20.25a.66.66,0,0,1-.66-.66V36.81a.66.66,0,0,1,.66-.66H36A.67.67,0,0,1,36.68,36.81Zm7.23-8.55H20.25a.66.66,0,0,0-.66.66v2.63a.66.66,0,0,0,.66.66H43.91a.67.67,0,0,0,.66-.66V28.92A.67.67,0,0,0,43.91,28.26Z" /><path class="assignmentClass-11" d="M43.91,24.32H20.25a.65.65,0,0,1-.66-.66V21a.65.65,0,0,1,.66-.65H43.91a.66.66,0,0,1,.66.65v2.63A.66.66,0,0,1,43.91,24.32ZM32.73,32.21V28.26H20.25a.66.66,0,0,0-.66.66v2.63a.66.66,0,0,0,.66.66Z" /></g></g>
</svg>