
<div class="m-portlet__body @*m-tabs-content__item {0}*@" id="m_section_">
    <div id="m_quick_sidebar_tabs_messenger">
        <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
            <div id="messenger_messages_container_" class="m-messenger__messages m-scrollable messenger_messages_container" style="min-height:500px;overflow-y:scroll;">
               <h1 style="text-align:center; margin-top:200px">Empty MSSG</h1>
            </div>
            <div class="m-messenger__seperator"></div>
            <div class="m-messenger__form">
                <div class="m-messenger__form-controls">
                    <input id="messenger_text_input" type="text" name="" placeholder="Type here..." class="m-messenger__form-input messenger_text_input" data-user_id="">
                </div>
                <div class="m-messenger__form-tools">
                    <a id="messenger_send_message" class="m-messenger__form-attachment messenger_send_message" data-user_id="@ViewBag.to_userId" data-conv_id="" style="margin-bottom:30px">
                        <i class="la la-send"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
