

<table id="gradingInfoTable" class="mt-5">
    <tr>
        <td>Grade</td>
        <td>75/100</td>
    </tr>
    <tr>
        <td>Graded on</td>
        <td>1, December 2020</td>
    </tr>
    <tr>
        <td>Graded by</td>
        <td>Laure Issa</td>
    </tr>
</table>
